<main>
    <h1><strong><i>My Thoughts</i></strong></h1>
    <section>
        <span *ngIf="!showForm" (click)="toggleForm()">New Thought</span>
        <postform *ngIf="showForm" (submitted)="onSubmit($event)"></postform>

        <div class="posts" *ngIf="!showForm">
            <post *ngFor="let post of posts; index as i"
[index]="i"
[individualPost]="post"
(delete)="deletePost($event)"></post>
        </div>
    </section>
</main>

<!-- <postform *ngIf="showForm" (submitted)="onSubmit($event)"></postform> -->

<!-- 
<post *ngFor="let post of posts; index as i"
[index]="i"
[individualPost]="post"
(delete)="deletePost($event)"></post> -->